.background-wrap {
    @apply absolute top-0 left-0 w-full h-full overflow-hidden;
}

.background-wrap p {
    @apply text-7xl;
}

@-webkit-keyframes animateCloud {
    0% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(100%)
    }
}

@-moz-keyframes animateCloud {
    0% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(100%)
    }
}

@keyframes animateCloud {
    0% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(100%)
    }
}

.background-wrap__cloud {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(.65);
    -moz-transform: scale(.65);
    transform: scale(.65)
}

.background-wrap__cloud[style*="--cloud-index: 1"] {
    top: 10%;
    left: 20%;
    -webkit-animation-duration: 35s;
    -moz-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-transform: scale(.65);
    -moz-transform: scale(.65);
    transform: scale(.65)
}

.background-wrap__cloud[style*="--cloud-index: 2"] {
    top: 20%;
    left: 40%;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    transform: scale(.3)
}

.background-wrap__cloud[style*="--cloud-index: 3"] {
    top: 30%;
    left: 60%;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5)
}

.background-wrap__cloud[style*="--cloud-index: 4"] {
    top: 40%;
    left: 80%;
    -webkit-animation-duration: 18s;
    -moz-animation-duration: 18s;
    animation-duration: 18s;
    -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    transform: scale(.4)
}

.background-wrap__cloud[style*="--cloud-index: 5"] {
    top: 50%;
    left: 100%;
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-transform: scale(.55);
    -moz-transform: scale(.55);
    transform: scale(.55)
}